:host {
  display: block;
/*   
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 25%;
    --sidebar-primary: 0 0% 9%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 94%;
    --sidebar-accent-foreground: 0 0% 9%;
    --sidebar-border: 0 0% 90%;
    --sidebar-ring: 0 0% 9%; */
}

/* Scrollbar estilo fino */
/* .scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: rgba(0,0,0,0.15);
} */

/* Iconos Material */
/* .material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 24;
  line-height: 1;
} */
